/* Stile per primo esercizio  */

#esDadi span:first-child {
    display: block;
    margin-bottom: 2rem;
}
#pcNum {
    margin-left: 2rem;
}
#result {
    display: block;
    margin-top: 2rem;
}


/* Stile per secondo esercizio */

#fakeLogin {
    margin-top: 4rem;
    text-align: center;
}
#verified {
    display: block;
    font-size: large;
    margin-top: 1rem;
}
#secretlist {
    text-align: left;
}
